@model Century.WebApp.Models.ProductViewModel

@{
    ViewData["Title"] = "Details  " + Model.Name;
}

<h4 style="padding-top: 50px">@ViewData["Title"]</h4>
<hr />
<div class="row">
    
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SupplierId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Supplier.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BarCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BarCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QuantityStock)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QuantityStock)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriceSales)
            </dt>
            <dd>
                @Model.PriceSales.ToString("C")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PricePurchase)
            </dt>
            <dd>
                @Model.PricePurchase.ToString("C")
            </dd>

        </dl>

        <div class="col-md-4">
            <img src="~/Images/@Model.ImagePath" alt="@Model.ImageUpload" style="width: 300px; height: 428px" />
        </div>
         <hr />
        <div>
            <a supress-by-claim-name="Product" supress-by-claim-value="Edit" class="btn btn-dark" sp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-info" asp-action="Index">Back</a>
        </div>
       
    </div>

</div>