@model IEnumerable<Century.WebApp.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products List";
}

<h1>Products List</h1>

<p>
    <a class="btn btn-info" asp-action="Create">New Product</a>
</p>
<table class="table table-hover">
<thead class="thead-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BarCode)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.QuantityStock)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>*@
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="~/Images/@item.ImagePath" alt="@item.ImagePath" style="width: 40px; height: 60px" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityStock)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @item.PriceSales.ToString("C")
        </td>
        <td>
            @item.PricePurchase.ToString("C")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>*@
        <td>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="btn btn bg-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
</tbody>
</table>
